<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Hair Salon</title>
    </head>
    <body>
        <h1 class="header text-center"><span class="salon-name">Your Hair Do</span>, welcome stylists!</h1>
        <div class="container well">
            {% if clients is not empty %}
                <h3>Here are your clients!</h3>
                <ul>
                    {% for client in clients %}
                        <li>{{ client.getName }}<a href="/clients/{{ client.getId }}/edit">  (Edit Client)</a>
                            <br> Phone: {{ client.getPhone }}
                            <br> Last Visit: {{ client.getLastVisit }}
                            <br> Notes: {{ client.getNotes }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>You have no clients listed yet!</h3>
            {% endif %}

            <form action="/clients/{{ stylist.getId }}/add">
                <button type="submit" class="btn btn-info">Add Client</button>
            </form>
        </div>
    </body>
</html>
