<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Hair Salon</title>
    </head>
    <body>
        <h1 class="header text-center"><span class="salon-name">Your Hair Do</span>, welcome stylists!</h1>
        <div class="container well">
            <h3>Current Client Information:</h3>
            <p>{{ client.getName }}</p>
            <p>Phone: {{ client.getPhone }}</p>
            <p>Last Visit: {{ client.getLastVisit }}</p>
            <p>Notes: {{ client.getNotes }}</p>

            <h3>Edit your client information below:</h3>
            <form action="/clients/{{ client.getId }}" method="post">
                <input id="stylist_id" name="stylist_id" type="hidden" value="{{ client.getStylistId }}">
                <input name="_method" type="hidden" value="patch">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text" value="{{ client.getName }}">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input id="phone" name="phone" type="text" value="{{ client.getPhone }}">
                </div>

                <div class="form-group">
                    <label for="last_visit">Date of Last Visit:</label>
                    <input id="last_visit" name="last_visit" type="text" value="{{ client.getLastVisit }}">
                </div>

                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <input id="notes" name="notes" type="text" value="{{ client.getNotes }}">
                </div>
                <button type="submit" class="btn btn-info">Update</button>
            </form>
        </div>
    </body>
</html>
